.trumbowyg-box, .trumbowyg-editor {
    margin: 0px auto;
}
#chatter ul.discussions li a.discussion_list .chatter_middle h3.chatter_middle_title, #chatter ul.discussions li .chatter_posts .chatter_middle h3.chatter_middle_title {
    font-weight: normal !important;
}
#chatter ul.discussions li a.discussion_list .chatter_middle span.chatter_middle_details, #chatter ul.discussions li .chatter_posts .chatter_middle span.chatter_middle_details {
    color: #1c1b19  !important;
}
#chatter.chatter_home .chatter_middle p {
    color: #040114 !important;
}
main.pt-4, main.py-4{
    padding-top: 0px !important;
}

.input-group.search-box-border {
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 100%;
    padding: 2px;
}
<<<<<<< HEAD
.chatter_middle_details > span {
    color: #050424 !important;
}

.top-repo-users-list {
    margin-top: 24px; 
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    color: #3390dd;
    border: 1px dashed;
}
=======
.chatter_middle_details span{
color: #3490dc;
margin-right: 10px;
}


#chatter .conversation ul.discussions li .chatter_posts .chatter_middle{
    padding-left:125px !important;
}
>>>>>>> 94093837451ad8ec3cd6fcd1c594464e8fe83ac3
